

/* MOBILE PHONES XS */


@media (max-width: 405px) {

  td {
    padding:        2px;
  }

  .syllables {
    font-size:      1em;

  }

  .right {
    margin:         0 0 0 0;
    width:          100%
  }

  .col-06 {
    width:          100%;
  }

}


/* MOBILE PHONES */


@media (max-width: 550px) {

  .col-06 {
    padding:        8px;
    width:          100%;
  }

  .col-06 {
    width:          100%;
  }

  h1 {
    width:          200px;
  }

  p {
    font-size:      1.1em;
  }

  article {
    margin:         0 0 0 0;
  }

  .content-links {
  width:            60%;
  }

  td {
     padding:       1px;
  }

  .syllables {
    font-size:      1.2em;
  }

  .syllable-sounds {
    font-size:      0.7em;
  }

  .right {
    margin:         0 0 0 0;
    width:          100%;
  }

  .left {
    margin:         0 0 0 0;
    width:          100%;
  }

}


/* LAPTOPS */


@media (min-width: 550px) and (max-width: 1400px) {

  [class*="col-"] {
    padding:        8px;
  }

  #Logo-bar {
    height:         56px;
    box-shadow:     0 8px rgba(35, 35, 35, 0.85);
  }

  #Logo-bar img {
    height:         56px;
    width:          56px;
  }

  .links {
    font-size:      1.2em;
    padding:        6px 0 6px 0;
  }

  article {
    margin:         0 5%;
  }

}
